* {
  cursor: none;
}

.starry-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #161628;
  cursor: none;
}

.star {
  position: absolute;
  top: -10px;
  border-radius: 50%;
  animation: fall 5s linear infinite;
  translate: -100px;
}

.star {
  animation: fall 5s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
